<div style="text-align: center; padding: 40px;">
    <h1>Welcome to Your Diet Tracker!</h1>
    <h3> Date: <%= @selected_date.strftime("%A, %B %d, %Y") %> <h3>
    
    <p><%= image_tag "diet.jpg.webp", width: "500" %>
    <%= form_with model: @daily_goal, url: daily_goal_path(date: @selected_date), method: :post, local: true do |form| %>
        <p>Set Daily Calorie Goal:</p>
        <%= form.number_field :goal, step: 100, value: @daily_goal.goal || 2000 %>
        <%= form.submit "Save Goal" %>
    <% end %>
    <p>
        <%= link_to "Previous", root_path(date: @selected_date - 1.day) %> |
        <%= link_to "Today", root_path %> |
        <%= link_to "Next", root_path(date: @selected_date + 1.day) %>
    </p>

    <%= form_with url: root_path, method: :get, local: true do %>
        <label for="date">Jump to date:</label>
        <%= date_field_tag :date, @selected_date, class: "jump-date" %>
        <%= submit_tag "Go" %>
    <%end %>
    <div></div>
    <%= form_with model: @calorie_entry || CalorieEntry.new, url: enter_meal_path, method: :post, local: true,
     html: { class: "meal-form", multipart: true, data: {turbo: false} } do |form| %>
        <p>Your Meal: <%= form.text_field :meal %></p>
        <p>Calorie Amount: <%= form.number_field :calories, step: 0.1 %></p>
        <p>Image File: <%= form.file_field :image %></p>
        <p><%= form.submit "Enter Meal" %></p>
    <% end %>

    <% if @calorie_entry && @calorie_entry.errors.any? %>
        <div id="error_explanation" style="color: red; margin-bottom: 20px;">
            <h2><%= pluralize(@calorie_entry.errors.count, "error") %> prevented this meal from being saved:</h2>
            <ul>
                <% @calorie_entry.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <div class="grid-container" style="margin: 0 auto; font-size: 12px; text-align: center;">
        <% @calories_today.each do |calorie_entry| %>
        <div class="grid-item">
            <% if calorie_entry.image.present?%>
                <%= image_tag calorie_entry.image, width: 100%>
            <% else %>
                No image
            <% end %>
            <h3> <%= calorie_entry.meal %></h3>
            <td> Calories <%=  calorie_entry.calories %> <td>
            <%= button_to "delete", calorie_entry_path(calorie_entry), method: :delete %>
        </div> 
        <% end %>
    </div>
    <td><strong>Total Calories</strong></td>
    <td><strong><%= @totalCalories %></strong></td>

    <% if @daily_goal.goal.present?%>
        <% diff = @totalCalories - @daily_goal.goal %>
        <% percent_diff = diff/@daily_goal.goal.to_f * 100%>
        <% if percent_diff.abs <= 10 %>
            <p style="color: green;"><strong> You are within 10% of your goal! Great work! </strong><p>
        <% elsif percent_diff < 0 %> 
            <p style="color: blue;"> <strong> You are <%= diff.abs %> calories under your goal. </strong></p>
        <% else %>
            <p style="color: red;"> <strong> You have exceeded your calorie goal. </strong> </p>
        <% end %>
    <% end %>
</div>

